<html>
  <head>
    <meta charset="utf-8" />
    <title>Curriculum Vitae</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap|Lato&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    
  </head>
  <body>
    <div id="app" class="contenedor">

      <!-- Row -->
      <div class="row">
        <div class="foto">
          <!-- <img src="https://i.imgur.com/uMbmy7e.jpg" alt="Foto" class="img">   -->
          <img src="foto2.jpeg" alt="Foto" class="img">
        </div>

        <!-- Informacion de contacto -->
        <div class="info_contacto marco">
          <h1>{{nombre}}</h1>
          <div class="col1">
            <h2>Telefono: </h2>
            <span>+57 317 4745861 <br>+57 350 5169500</span>
          </div>
          <div class="col2">
            <h2>Ubicación:</h2>
            <span>Bogotá DC, Colombia</span>
          </div>
          <div class="col3">
            <h2>E-mail:</h2>
            <span> <a >degualteros@poligran.edu.co</a> <br> <a>ktulu315@gmail.com</a></span>
          </div>

          <div class="row redes">
            <br>
            <h2>Redes sociales</h2>
            <ul>
              <li>
                <a href="https://www.linkedin.com/in/degualteros">LinkedIn</a>
              </li>
              <li>
                <a href="https://t.me/degualteros">Telegram</a>
              </li>
              <li>
                <a href="https://wa.me/573505169500">WhatsApp</a>
              </li>
            </ul>
            
          </div>

        </div>
      </div> <!-- End Row -->
      
      
      
      <div class="row">
        <!-- Skills-->
        <div id="skills" class="skills marco">
          <h1>Skills</h1>
          <ul>
            <li v-for="skill of skills "><img class="skill_icon" v-bind:src="skill.icono"> </img> <span>{{skill.nombre}}</span></li>
          </ul>
        </div>
        <div class="perfil marco">
          <h1>Perfil Profesional</h1>
          <ul>
            <li><span>Me gusta trabajar en equipo, aprendo y me adapto fácil y rápidamente a cualquier entorno laboral. Busco estrategias de mejoramiento para subir el rendimiento y desempeño en las metas propuestas.</span></li>
            <li><span>Conocimientos técnicos en sistemas e informática (mantenimiento, instalación configuración, etc.).</span></li>
            <li><span>Lógica de programación en Java, JavaScript, Python y PHP.</span></li>
            <li><span>Manejo de bases de datos relacionales Oracle y MySQL.</span></li>
            <li><span>Manejo de WordPress, creación de páginas web tipo e-commerce, administración de hosting, configuración de correo corporativo. SEO (posicionamiento en búsquedas), Google Analitycs, marketing digital, SSL, HTML 5, CSS.</span></li>
            <li><span>Uso de Git y GitHub</span></li>
            <li><span>Manejo e instalación de operativos Linux (Ubuntu, Linux Mint, Kali Linux), y Windows (XP hasta Windows 10).</span></li>
            <li><span>Actualmente en aprendizaje: Vue JS, Angular JS, React y MongoDB</span></li>
          </ul>
        </div>
        
      </div>
      
      <div class="row">
        <!-- Formacion -->
        <div class="formacion marco">
          <div class="titulo">
            <h1>Formación Academica</h1>
          </div>
          <div class="row">
            <h2>Universitarios</h2>
            <p>
                <h3>Politécnico Grancolombiano</h3>
                <span><strong>Carrera:</strong></span>
                <span>Administracion de Sistemas</span>
                    <br>
                    <span>7º semestre, en curso - aplazado</span>
              </p>
              <br>
              <p>
                <h3>Universidad Distrital Francisco José de Caldas</h3>
                    <span><strong>Carrera:</strong></span>
                    <span>Tecnología Sistematizacion de Datos</span>
                    <br>
                    <span>2 Semestres</span>
              </p>
          </div>
          <div class="row">
              <h2>Estudios secundarios</h2>
              <h3>Colegio Fé y alegría Vitelma</h3>
              <span>1999 - 2005</span>
          </div>
          <div class="row">
              <h2>Estudios primarios</h2>
              <span>Colegio Fé y alegría Vitelma</span>
          </div>
        </div> <!-- End Formacion -->

      </div>


      <div class="row">
        <div class="cursos marco">
          <h1>Talleres y cursos</h1>
          <ul>
          <li>
            <span>
              Curso de programación básica – Platzi 2019
            </span>
          </li>
          <li>
            <span>
              II Seminario Internacional y VII Jornada Académica en Inteligencia Artificial
              – Biblioteca Virgilio Barco Vargas, Oct 17 a 20 de 2006.
            </span>
          </li>
          <li>
            <span>
              Curso de Profundización en Gestión Ambiental Comunitaria, Universidad
              Nacional de Colombia – ENDA América Latina. Bogotá, Diciembre de 2004.
            </span>
          </li>
            <li>
              <span>
                Curso de Extensión en Gestión Ambiental Comunitaria, Universidad
                Nacional de Colombia - ENDA America Latina. Bogotá, Diciembre de 2003.
              </span>
            </li>

          </ul>
        </div>
      </div>

      <div class="row">
        <div class="proyectos marco">
          <h1>Proyectos</h1>
          <li v-for="proyecto of proyectos">
            <h2>{{proyecto.nombre}}</h2>
            <img class="logo_icon skill_icon" v-bind:src="proyecto.logo"> </img>
            <span>{{proyecto.descripcion}}</span> <br>
            <a v-bind:href="'https://'+proyecto.url" target="_blank">Visitar</a>
          
          </li>

        </div>
      </div>

      <div class="row">
        <div class="exp_laboral marco">Exp laboral</div>
      </div>
      <div class="row">
        <div class="footer">
          <span class="copyright">{{derechos}}</span>  
        </div>
      </div>

    </div>
    <script src="js/app.js"></script>
  </body>
</html>